@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #7c878f;
}

@layer base {
  html {
    font-family: "Raleway", sans-serif;
  }
  .shadow-white {
    box-shadow: 5px 5px 8px 1px #696767; /* White box shadow */
  }
}

.txt-style {
  text-shadow: -1px -1px 6px var(--background), 3px 1px 0px var(--background),
    6px 6px 0px #00000055;
}

.nav-styled {
  text-decoration: none;
  display: inline-block;
  position: relative;
}
.nav-styled:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  background: #0aa3cd;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav-styled:hover:after {
  width: 100%;
  left: 0;
  border-radius: 20px;
}
/* custon anchor CSS */
.a-styled {
  text-decoration: none;
  display: inline-block;
  position: relative;
}
.a-styled:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  background: #f2f3f4;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.a-styled:hover:after {
  width: 100%;
  left: 0;
  border-radius: 20px;
}

@media screen and (max-height: 300px) {
  ul {
    margin-top: 40px;
  }

  
}

/* Card flipp CSS */

.flip-card {
  perspective: 1000px;

}

.flip-card-inner {
  position: relative;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.flip-card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
}

.flip-card-back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 20px;
  padding: 15px;
  background-color: rgb(23, 25, 27);
  color: white;
  transform: rotateY(180deg);
}


.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

@media screen and (max-width: 768px) {
 
  .flip-card-front{
    display: flex;
    justify-content: space-between;
  }
}


